<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crater.pa.dao.mapper.TransactionDaoMapper">
    <insert id="insertNewTransaction" parameterType="com.crater.pa.bean.db.TransactionVo">
        INSERT INTO TRANSACTION(ACCOUNTING_REGISTRANT_SEQNO, CATALOG_SEQNO, ITEM_NAME, AMOUNT, PROV_FILE_NAME,
                                REMARK, CREATE_TIME, CREATE_USERID, BUY_DATE)
        VALUES (#{accountingRegistrantSeqno}, #{catalogSeqno}, #{itemName}, #{amount}, #{provFileName}, #{remark},
                now(), 'system', #{buyDate})
    </insert>
</mapper>